.main-layout {
  display: grid;
  grid-template-columns:
    20px
    1fr
    20px;
}

.main-layout > *:not(.full) {
  grid-column: 2;
}

.main-layout > *.full {
  grid-column: 1 / -1;
}

.header-layout {
  display: grid;
  grid-template-columns:
    125px
    1fr
    300px;
}

.gallery-nav-layout {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.meme-controller-layout {
  display: grid;
  grid-template-columns: 80px 700px 40px 1fr 80px;
}
