@media (max-width: 1700px) {
  .gallery .imges {
    text-align: center;
  }
}
@media (max-width: 1310px) {
  .meme-controller .canvas-contaienr {
    margin: 20px auto;
  }

  .meme-controller {
    flex-direction: column;
    margin: auto;
  }
  .meme-controller .MemeEditor {
    margin-bottom: 10px;
  }
}

@media (max-width: 1270px) {
  .nav-row2 {
    /* grid-row: 3; */
    margin: auto;
  }
}

@media (max-width: 1110px) {
  .gallery .image-container {
    width: 350px;
    height: 350px;
  }
  .search-box .gallery-filter input {
    width: 70%;
  }
  .gallery .gallery-nav i {
    display: none;
  }
  .header-layout {
    display: grid;
    grid-template-columns:
      50px
      1fr
      50px;
  }
  .main-header .logo {
    margin: 0 20px;
  }

  .meme-controller-layout {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .gallery .image-container {
    width: 420px;
    height: 420px;
  }
  .header-layout {
    grid-template-columns:
      10px
      1fr
      10px;
  }
  .main-header {
    height: 100px;
    width: 100%;
    margin: 20px auto;
  }
  .main-header .main-nav {
    justify-content: center;
  }
  /* .canvas-contaienr {
    display: none;
  } */
}

@media (max-width: 650px) {
  .main-header {
    height: 100px;
    width: 90%;
    margin-block-start: 0.5em;
    margin-block-end: 30px;
  }
  .gallery .gallery-nav .filter {
    height: 100px;
    width: 30em;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
  }
  .gallery-filter input {
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    margin-left: 70px;
    font-size: 1.2em;
  }
  .gallery-filter .clrFilter-btn {
    margin: 15px 0;
    margin-left: 130px;
  }
  .gallery .image-container {
    width: 300px;
    height: 300px;
  }
  /* .meme-controller .textInput input{
    width: 4px;
  } */

  .meme-controller .MemeEditor {
    width: 500px;
  }
}
