@media (max-width: 1700px) {
  .gallery .imges {
    text-align: center;
  }
  .meme-controller .MemeEditor {
    /* background-color: aliceblue; */
  }
  .meme-controller img {
    width: 35px;
    padding: 5px;
  }
  .meme-controller .textChanger button {
    margin: 0 10px;
  }
  .meme-controller .textChanger {
    height: 250px;
  }
  .meme-controller .box2 {
    flex-direction: column;
  }
  .meme-controller .box2 select {
    width: 40%;
    margin: auto;
  }
  .meme-controller .box2 input {
    margin-block-start: 20px;
    width: 50px;
  }
  .meme-controller .box2 label {
    font-size: 1em;
  }
}

@media (max-width: 1270px) {
  .nav-row2 {
    /* grid-row: 3; */
    margin: auto;
  }
}

@media (max-width: 1110px) {
  .gallery .image-container {
    width: 350px;
    height: 350px;
  }
  .search-box .gallery-filter input {
    width: 70%;
  }
  .gallery .gallery-nav i {
    display: none;
  }
  .header-layout {
    display: grid;
    grid-template-columns:
      100px
      1fr
      100px;
  }
  .main-header .logo {
    margin: 0 20px;
  }

  .meme-controller-layout {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .gallery .image-container {
    width: 420px;
    height: 420px;
  }
  .header-layout {
    grid-template-columns:
      10px
      1fr
      10px;
  }
  .main-header {
    height: 100px;
    width: 100%;
    margin: 20px auto;
  }
  .main-header .logo {
    /* font-size: 1.375em; */
  }
  .main-header .main-nav {
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .main-header {
    height: 100px;
    width: max-content;
    margin: 20px auto;
  }
  .gallery .gallery-nav .filter {
    height: 100px;
    width: 30em; /* Use 100% width to make it responsive */
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px; /* Add padding for better spacing */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    border-radius: 8px; /* Add rounded corners */
  }
}
