.main-footer {
  background-color: var(--headerBackground);
  background: var(--headerBackgroundGrad);
  margin-top: auto;
  border-radius: 10px;
}

footer h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2em;
}
